<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuang.dao.UserinfoMapper">
    <insert id="add" parameterType="User">
    insert into user  (id,user_name,password,gender,age,email,mobile,address)
    values (#{id},#{userName},#{password},#{gender},#{age},#{email},#{mobile},#{address});
</insert>
</mapper>